@charset "UTF-8";
/*@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');*/

@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url("font/NanumSquareR.otf");
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url("font/NanumSquareB.eot");
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url("font/NanumSquareEB.eot");
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url("font/NanumSquareL.eot");
}
/* AC */
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 400;
 src: url("font/NanumSquareAcR.eot");
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 700;
 src: url("font/NanumSquareAcB.eot");
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 800;
 src: url("font/NanumSquareAcEB.eot");
}
@font-face {
 font-family: 'NanumSquareAc';
 font-weight: 300;
 src: url("font/NanumSquareAcL.eot");
}


:root {
    --bs-blue: #1D4293;
    --bs-black: #000;
    --bs-white: #fff;
	--bs-lightsky: #F1F9FF;
    --bs-gray:#888888;
	--bs-gray-dark:#666666;
	--bs-gray-700:#707070;
	--bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color:#303030;
	--bs-grayblue: #F3F3F3;
	--bs-bg-gray:#FBFBFB;
    --bs-font-sans-serif: "NanumSquare", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif ;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-link-color: #303030;
    --bs-link-hover-color: #000000;
}


/* Reset */
html, body, div, span, applet, object, iframe, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;vertical-align: baseline;}

h1, h2, h3, h4, h5, h6, p, strong, table{margin: 0; padding: 0;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; margin:0; padding:0; }

audio, canvas, progress, video {display: inline-block; vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden], template {display: none;}

body {font-family: 'NanumSquare', sans-serif; -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%; line-height: 1.42857143;}s

ul {list-style:none;}

ul, li, ol, dl, dt, dd{list-style:none; margin:0; padding:0}

blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}

table {width:100%; border-spacing:0; border-collapse:collapse;}

body{ margin: 0;}

label,button{cursor:pointer; margin: 0; font: inherit; color: inherit;}

button {overflow: visible;}
button, select {text-transform: none;}
button, html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {padding: 0;border: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

textarea{resize: none;}

em,address,optgroup{font-style:normal}

img,fieldset,iframe{border:0 none}

img,input,select,button,textarea{vertical-align:middle}

img {border: 0;}



/* Box Model */
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
*, ::after, ::before { box-sizing: border-box;}


.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: -15px;
  padding-left: -15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 738px;
    max-width: 100%;
  }
  .pchide{display:none;}
}

@media (max-width: 766px) {
  .mobhide{display:none;}
  
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }

  .tableshow{display:none;}
}

@media (max-width: 992px) {
	.tablethide{display:none;}
  
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1330px;
    max-width: 100%;
  }
}




.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-ss-1, .col-ss-2, .col-ss-3, .col-ss-4, .col-ss-5, .col-ss-6, .col-ss-7, .col-ss-8, .col-ss-9, .col-ss-10, .col-ss-11, .col-ss-12,
.col-lx-1, .col-lx-2, .col-lx-3, .col-lx-4, .col-lx-5, .col-lx-6, .col-lx-7, .col-lx-8, .col-lx-9, .col-lx-10, .col-lx-11, .col-lx-12
{
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .col-ss-1, .col-ss-2, .col-ss-3, .col-ss-4, .col-ss-5, .col-ss-6, .col-ss-7, .col-ss-8, .col-ss-9, .col-ss-10, .col-ss-11, .col-ss-12 {
    float: left;
  }
  .col-ss-12 {
    width: 100%;
  }
  .col-ss-11 {
    width: 91.66666667%;
  }
  .col-ss-10 {
    width: 83.33333333%;
  }
  .col-ss-9 {
    width: 75%;
  }
  .col-ss-8 {
    width: 66.66666667%;
  }
  .col-ss-7 {
    width: 58.33333333%;
  }
  .col-ss-6 {
    width: 50%;
  }
  .col-ss-5 {
    width: 41.66666667%;
  }
  .col-ss-4 {
    width: 33.33333333%;
  }
  .col-ss-3 {
    width: 25%;
  }
  .col-ss-2 {
    width: 16.66666667%;
  }
  .col-ss-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1300px) {
  .col-lx-1, .col-lx-2, .col-lx-3, .col-lx-4, .col-lx-5, .col-lx-6, .col-lx-7, .col-lx-8, .col-lx-9, .col-lx-10, .col-lx-11, .col-lx-12 {
    float: left;
  }
  .col-lx-12 {
    width: 100%;
  }
  .col-lx-11 {
    width: 91.66666667%;
  }
  .col-lx-10 {
    width: 83.33333333%;
  }
  .col-lx-9 {
    width: 75%;
  }
  .col-lx-8 {
    width: 66.66666667%;
  }
  .col-lx-7 {
    width: 58.33333333%;
  }
  .col-lx-6 {
    width: 50%;
  }
  .col-lx-5 {
    width: 41.66666667%;
  }
  .col-lx-4 {
    width: 33.33333333%;
  }
  .col-lx-3 {
    width: 25%;
  }
  .col-lx-2 {
    width: 16.66666667%;
  }
  .col-lx-1 {
    width: 8.33333333%;
  }
}

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }



/*a:*/
a:link, a:visited, a:hover{text-decoration:none; color:#303030}
a:focus, a:active{text-decoration:none;}


/* hidden */
.hidden{position:absolute; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden; z-index:-1; text-indent:-99999px;}


/*이미지*/
.img-fluid { max-width: 100% !important; height: auto;}
.w_auto{width:auto !important}


/*라운드*/
.rounded-circle {border-radius: 50%;}
.rounded-0 {border-radius: 0;}


/*말줄임표*/
.ellipsis{display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}



/* clear:both */
.clear_b{clear:both !important;}


/*overflow:hidden; */
.overflow_h { overflow:hidden !important; }


/* position */
.position_r{position: relative;}
.position_a{position: absolute;}


/* display */
.inline-block{display:inline-block;}


/* text-align */
.txt_left{text-align:left !important;}
.txt_right{text-align:right !important;}
.txt_center{text-align:center !important;}


/* float */
.fl{float:left !important;}
.fr{float:right !important;}
.fn{float:none !important;}


/* letter-spacing */
.ltt_0{letter-spacing:0px}
.ltt_1{letter-spacing:-1px}
.ltt-1{letter-spacing:1px}


/*button*/
.nonbutn{border:none ; background:transparent; padding:0%; margin:0; vertical-align:middle}


/*폰트두깨*/
.font_light{ font-weight: 300 }
.font_normal{ font-weight: 400 }
.font_bold{ font-weight: 700 }
.font_bolder{ font-weight: 800 }





/*margin*/
.m-tb1{margin-top:1rem; margin-bottom:1rem;}
.m-tb2{margin-top:2rem; margin-bottom:2rem;}
.m-tb3{margin-top:3rem; margin-bottom:3rem;}
.m-t1{margin-top:1rem;}
.m-t2{margin-top:2rem;}
.m-t3{margin-top:3rem;}
.m-b1{margin-bottom:1rem;}
.m-b2{margin-bottom:2rem;}
.m-b3{margin-bottom:3rem;}
.m-b4{margin-bottom:4rem;}
.m-l1{margin-left:1rem;}


/*PADDING*/
.p-tb1{padding-top:1rem; padding-bottom:1rem;}
.p-tb2{padding-top:2rem; padding-bottom:2rem;}
.p-tb3{padding-top:3rem; padding-bottom:3rem;}
