<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Document</title>

	<!--[if lt IE 9]>
	<script src="js/ie/html5.js"></script>
	<script src="js/ie/respond.min.js"></script>
	<![endif]-->
	<!-- css -->
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	
	<!-- javascript -->	
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<!--	<script type="text/javascript" src="js/common.js"></script>-->
	<!-- <script type="text/javascript" src="/js/jquery.rwdImageMaps.js"></script> -->
</head>
<body>

<div class="gnbbox subgnb">
	<div class="container">
		<h1 class="col-md-4 m-tb1">
<!--			<a href="index.html"><img src="images/logo.png" alt="한국 남부발전(주)" class="img-fluid"></a>-->
			<!-- <a th:href="@{/}"><img src="/images/logo.png" alt="한국 남부발전(주)" class="img-fluid"></a> -->
      <a href="/"><img src="/images/logo.png" alt="한국 남부발전(주)" class="img-fluid"></a>
		</h1>

		<div class="col-md-8 m-tb1">
			<ul class="gnb ">
<!--				<li><a href="atmosphere.html">대기배출농도</a></li>-->
<!--				<li><a href="around.html">주변환경농도</a></li>-->
<!--				<li class="on"><a href="emissions.html">대기배출량</a></li>-->
				<!-- <li><a th:href="@{/menu1}">대기배출농도</a></li>
				<li><a th:href="@{/menu2}">주변환경농도</a></li>
				<li class="on"><a th:href="@{/menu3}">대기배출량</a></li> -->
        <li><a href="/density/">대기배출농도</a></li>
				<li><a href="/around/">주변환경농도</a></li>
				<li class="on"><a href="/discharge/">대기배출량</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="container">

	
	<div  class="clear_b overflow_h p-tb2 m-tb3">
		<div class="col-lg-6">
				<p class="txt_right font-small col-gray-700 m-tb1">단위:톤</p>
				<div class="vertical_chart_box">
				  <div class="chart_box">
					<ul class="axis_y">
						 <li class="item"><span>40,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>35,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>30,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>25,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>20,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>15,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>10,000</span> <i class="blind">톤</i></li>
						<li class="item"><span>0</span> <i class="blind">톤</i></li>
					</ul>
					<ul class="axis_x">
			
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2015년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data1" style="height:89%;"><span class="blind">35,481</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2016년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:50%;"><span class="blind">20,114</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2017년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:50%;"><span class="blind">20,705</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2018년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:52%;"><span class="blind">22,551</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2019년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:38%;"><span class="blind">15,562</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2020년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:26%;"><span class="blind">10,575</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2021년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:26%;"><span class="blind">10,904</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2022년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:25%;"><span class="blind">10,575</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day ltt_1">2023년(계획)</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data2" style="height:4%;"><span class="blind">9,5801</span></span>
						  <span class="time data3 " style="height:85%;"><i class="dataline"></i></span>
						  <span class="col-point toptext">69% <br/>저감</span>
						</button>
					  </li>
			
					</ul>
				  </div>       
				  <div class="txt_center font-size m-l1 m-t3">전 사업소</div>                                         
				</div>
			</div>
		<div class="col-lg-6">
				<p class="txt_right font-small col-gray-700 m-tb1">단위:톤</p>
				<div class="vertical_chart_box">
				  <div class="chart_box">
					<ul class="axis_y">
						 <li class="item"><span>40,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>35,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>30,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>25,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>20,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>15,000</span> <i class="blind">톤</i></li>
						 <li class="item"><span>10,000</span> <i class="blind">톤</i></li>
						<li class="item"><span>0</span> <i class="blind">톤</i></li>
					</ul>
					<ul class="axis_x">
			
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2015년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data1" style="height:89%;"><span class="blind">35,481</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2016년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:50%;"><span class="blind">20,114</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2017년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:50%;"><span class="blind">20,705</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2018년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:52%;"><span class="blind">22,551</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2019년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:38%;"><span class="blind">15,562</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2020년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:26%;"><span class="blind">10,575</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2021년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:26%;"><span class="blind">10,904</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day">2022년</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data" style="height:25%;"><span class="blind">10,575</span></span>
						</button>
					  </li>
					  <li class="item">
						<div class="text_box">
						  <strong class="day ltt_1">2023년(계획)</strong>
						</div>
						<button type="button" class="graph">
						  <span class="time data4" style="height:4%;"><span class="blind">9,5801</span></span>
						  <span class="time data5 " style="height:89%;"><i class="dataline col-yellow"></i></span>
						  <span class="col-point toptext col-yellow">67% <br/>저감</span>
						</button>
					  </li>
			
					</ul>
				  </div> 
				  <div class="txt_center font-size m-l1 m-t3">석탄화력(하동)</div>     
				</div>
			</div>
	</div>

	<div class="tablebox">
		<table class="basictable">
		  <thead>
			<tr>
			  <th>구 분</th>
			  <th>2015년</th>
			  <th>2016년</th>
			  <th>2017년</th>
			  <th>2018년</th>
			  <th>2019년</th>
			  <th>2020년</th>
			  <th>2021년</th>
			  <th>2022년</th>
			  <th>2023년 (계획)</th>
			</tr>
		</thead>  
		<tbody>
			<tr>
			  <td>배출량(톤)</td>
			  <td>35,481</td>
			  <td>20,114</td>
			  <td>20,705</td>
			  <td>22,551</td>
			  <td>15,562</td>
			  <td>10,575</td>
			  <td>10,904</td>
			  <td>10,575</td>
			  <td>9,580</td>
			</tr>
		  </tbody>
		</table>
	</div>

	<p class="txt_center col-point m-tb3">2015년 기준배출량 중 신규발전소(삼척) 설계기준 배출량 포함, 2017년 삼척발전본부 가동개시로 2017~2018년 전사배출량 소폭 증가<span class="br">
’21년은 코로나19 완화에 따른 산업 전반 가동률 회복으로 ’20년 대비 발전량 증가, 이에따라 대기오염물질 배출량 증가</p>


	<div class="bgbox p-tb3">
		<div class="container txt_center">
			<div class="m-t1 m-b4 font-size">
				<h3 class="conttitle">대기배출허용기준</h3>
				대기환경보호를 위해 다양한 법들이 존재하며 주로 대기환경보전법과 환경오염시설법이 그 대표적인 예입니다.<br/>
				남부발전은 사업소별 지역과 특성에 따라 대기배출허용기준이 규정되어 있으며 실시간 굴뚝자동측정기기(TMS)를 통해 기준 준수를 위해 노력하고 있습니다.
			</div>
		</div>
	</div>

	<div class="page-rating">
		<div class="title txt_center"> 
				<p class="m-b1"><img src="/images/title.png" alt=""></p>
				<div class="people inline-block"> 
					<dl> 
						<dt>담당자 </dt> 
						<dd class="col-point">환경관리부 장현수 </dd> 
					</dl> 
				</div> 
				<div class="phone inline-block">
					<dl> 
						<dt>연락처 : </dt> 
						<dd class="col-point">070-7713-8875 </dd> 
					</dl> 
				</div>
		</div>

		<div class="boxtext">
			홈페이지의 서비스 품질 향상을 위해 만족도 조사를 실시하고 있습니다.<br/>
			이 페이지에서 제공하는 정보에 대하여 얼마나 만족하셨습니까?
		</div>

		<div class="boxopinion">

			<ul class="radio"> 
				<li> <input type="radio" id="service1" name="stsfdgScore" value="5" checked="checked"> <label for="service1" class="star5">매우만족</label> </li> 
				<li> <input type="radio" id="service2" name="stsfdgScore" value="4"> <label for="service2" class="star4">만족</label> </li> 
				<li> <input type="radio" id="service3" name="stsfdgScore" value="3"> <label for="service3" class="star3">보통</label> </li> 
				<li> <input type="radio" id="service4" name="stsfdgScore" value="2"> <label for="service4" class="star2">불만족</label> </li> 
				<li> <input type="radio" id="service5" name="stsfdgScore" value="1"> <label for="service5" class="star1">매우불만족</label> </li> 
			</ul>
			<div class="opinion"> 
				<input type="text" id="service_cn" name="cn" class="opi-text" placeholder="여러분의 소중한 의견을 남겨주세요"> 
				<label for="service_cn" class="hidden">텍스트 입력 등록</label> 
				<input type="submit" id="opi1" value="등록" class="opi-submit"> 
				<label for="opi1" class="hidden">의견등록</label> 
			</div>

		</div>


	</div>


</div>


<div class="footer">
	<div class="container overflow_h p-tb3">
		<div class="col-md-6 font_light">
			<p><img src="/images/logo.png" alt="한국남부발전(주)" class="img-fluid"></p>
			<p class="m-t1">부산광역시 남구 문현금융로 40(문현동, 부산국제금융센터)</p>
			<p><span class="col-point">대표전화</span>  070-7713-8000 &nbsp;&nbsp;&nbsp;&nbsp;<span class="col-point">팩스</span>  070-7713-8272</p>
		</div>
		<div class="col-md-6 txt_right">
			<div class="txt_right m-t1">
				<select class="fselect" onchange="window.open(value,'_blank');">      
					<option value="none">관련사이트</option>
					<option value="https://9988.kospo.co.kr/">동반성장 통합플랫폼</option>
					<option value="https://conrps.kospo.co.kr/service/main">REC 대금지급 요청</option>
					<option value="https://cokorims.kospo.co.kr/">연구과제 공모</option>
					<option value="https://easyu.kospo.co.kr/">통합기자재 공급자관리</option>
					<option value="https://easyu.kospo.co.kr/matuser/">발전정비 공급자관리</option>
					<option value="https://eqs.kospo.co.kr:8445/">안전품질 협업</option>
					<option value="https://withu.ewp.co.kr:8443/">정비적격통합관리</option>
					<option value="https://cert.kospo.co.kr/cert_login.jsp">실적증명관리</option>
				</select>

				<select class="fselect m-l1" onchange="window.open(value,'_blank');">    
					<option value="none">전력그룹사</option>
					<option value="http://www.kepco.co.kr/">한국전력공사</option>
					<option value="http://www.khnp.co.kr/">한국수력원자력</option>
					<option value="http://www.koenergy.kr/">한국남동발전</option>
					<option value="http://www.komipo.co.kr/">한국중부발전</option>
					<option value="https://www.iwest.co.kr">한국서부발전</option>
					<option value="https://www.kospo.co.kr">한국남부발전</option>
					<option value="http://www.ewp.co.kr">한국동서발전</option>
					<option value="http://www.kpx.or.kr/">전력거래소</option>
					<option value="http://www.kepri.re.kr/">전력연구원</option>
					<option value="http://www.genco.kr/">발전회사협력본부</option>
					<option value="http://www.kpli.co.kr/">발전교육원</option>
				</select>
			</div>
			<p class="font-small col-gray-700 m-t1">Copyright 2022. KOREA SOUTHERN POWER CO.,LTD(KOSPO). All Right Reserved</p>
		</div>
	</div>
</div>




<script type="module" src="main.js"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  </head>
  <body>
    <h1>discharge</h1>
    <div id="app"></div>
    <script type="module" src="main.js"></script>
  </body>
</html> -->
